﻿@model WSCinemaNaw.Models.Order

<h2>Chi tiết đơn hàng</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.OrderID">Chỉnh sửa</a> |
    <a asp-action="Index">Quay lại danh sách đơn hàng</a>
</p>

<h3>Chi tiết đơn hàng</h3>
@foreach (var orderDetail in Model.OrderDetails)
{
    <div>
        <h4>Order Detail</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => orderDetail.OrderDetailID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => orderDetail.OrderDetailID)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => orderDetail.TicketID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => orderDetail.TicketID)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => orderDetail.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => orderDetail.Price)
            </dd>
        </dl>
    </div>
}
