﻿@model WSCinemaNaw.Models.Country

<h2>Edit Country</h2>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="CountryID" class="control-label"></label>
        <input asp-for="CountryID" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
