﻿@model IEnumerable<WSCinemaNaw.Models.Country>
<h2>Country</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var country in Model)
        {
            <tr>
                <td>@country.CountryID</td>
                <td>@country.Name</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@country.CountryID">Delete</a> |
                    <a asp-action="Edit" asp-route-id="@country.CountryID">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Create">Thêm danh mục mới</a>
