﻿@model IEnumerable<WSCinemaNaw.Models.Director>
<h2>Director</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var director in Model)
        {
            <tr>
                <td>@director.DirectorID</td>
                <td>@director.Name</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@director.DirectorID">Delete</a> |
                    <a asp-action="Edit" asp-route-id="@director.DirectorID">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Create">Thêm danh mục mới</a>
