﻿@model WSCinemaNaw.Models.Payment

<h2>@(Model.PaymentID == 0 ? "Create" : "Edit") Payment</h2>

<form asp-action="@(Model.PaymentID == 0 ? "Create" : "Edit")">
    <input type="hidden" asp-for="PaymentID" />
    <div class="form-group">
        <label asp-for="OrderID"></label>
        <input asp-for="OrderID" class="form-control" />
        <span asp-validation-for="OrderID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Amount"></label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PaymentDate"></label>
        <input asp-for="PaymentDate" class="form-control" />
        <span asp-validation-for="PaymentDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PaymentMethod"></label>
        <input asp-for="PaymentMethod" class="form-control" />
        <span asp-validation-for="PaymentMethod" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">@(Model.PaymentID == 0 ? "Create" : "Save")</button>
</form>
