﻿@model WSCinemaNaw.Models.Showtime

@{
    ViewData["Title"] = "Create Showtime";
}

<h2>Create Showtime</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="MovieID" class="control-label"></label>
        <select asp-for="MovieID" class="form-control" asp-items="ViewBag.Movies"></select>
        <span asp-validation-for="MovieID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TheaterID" class="control-label"></label>
        <select asp-for="TheaterID" class="form-control" asp-items="ViewBag.Theaters"></select>
        <span asp-validation-for="TheaterID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RoomID" class="control-label"></label>
        <select asp-for="RoomID" class="form-control" asp-items="ViewBag.Rooms"></select>
        <span asp-validation-for="RoomID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShowtimeDate" class="control-label"></label>
        <input asp-for="ShowtimeDate" class="form-control" />
        <span asp-validation-for="ShowtimeDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
