﻿@model WSCinemaNaw.Models.Showtime

<h2>Delete Showtime</h2>

<h3>Are you sure you want to delete this?</h3>

<form method="post" action="@Url.Action("DeleteConfirmed", "Showtime", new { id = Model.ShowtimeID })">
    <input type="hidden" asp-for="ShowtimeID" />

    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.ShowtimeID</dd>

        <dt class="col-sm-2">Name Movie</dt>
        <dd class="col-sm-10">@Model.Movie.Title</dd>

        <dt class="col-sm-2">Name Theater</dt>
        <dd class="col-sm-10">@Model.Theater.Name</dd>

        <dt class="col-sm-2">Director</dt>
        <dd class="col-sm-10">@Model.Room.Name</dd>

        <dt class="col-sm-2">Genre</dt>
        <dd class="col-sm-10">@Model.ShowtimeDate.ToShortDateString()</dd>
    </dl>
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index" class="btn btn-primary">Back</a>
</form>
