﻿@model WSCinemaNaw.Models.Showtime

<h2>Showtime Details</h2>

<dl class="row">
    <dt class="col-sm-2">Showtime ID</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.ShowtimeID)</dd>

    <dt class="col-sm-2">Movie ID</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.Movie.Title)</dd>

    <dt class="col-sm-2">Theater ID</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.Theater.Name)</dd>

    <dt class="col-sm-2">Room ID</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.Room.Name)</dd>

    <dt class="col-sm-2">Showtime Date</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.ShowtimeDate)</dd>
</dl>
