﻿@model WSCinemaNaw.Models.Showtime

<h2>Showtime</h2>
<form method="post" action="@Url.Action("Edit", "Showtime", new { id = Model.ShowtimeID })">
    <input type="hidden" asp-for="ShowtimeID" />
    <div class="form-group">
        <label asp-for="MovieID"></label>
        <select asp-for="MovieID" class="form-control" asp-items="ViewBag.Movies"></select>
        <span asp-validation-for="MovieID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TheaterID"></label>
        <select asp-for="TheaterID" class="form-control" asp-items="ViewBag.Theaters"></select>
        <span asp-validation-for="TheaterID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RoomID"></label>
        <select asp-for="RoomID" class="form-control" asp-items="ViewBag.Rooms"></select>
        <span asp-validation-for="RoomID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShowtimeDate"></label>
        <input asp-for="ShowtimeDate" class="form-control" />
        <span asp-validation-for="ShowtimeDate" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <a asp-action="Index" asp-route-id="@Model.ShowtimeID" class="btn btn-primary">Back</a>
</form>
