﻿@model IEnumerable<WSCinemaNaw.Models.Showtime>

<h2>Showtimes</h2>

<table class="table">
    <thead>
        <tr>
            <th>Showtime ID</th>
            <th>Movie ID</th>
            <th>Theater ID</th>
            <th>Room ID</th>
            <th>Showtime Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var showtime in Model)
        {
            <tr>
                <td>@showtime.ShowtimeID</td>
                <td>@showtime.Movie?.Title</td>
                <td>@showtime.Theater?.Name</td>
                <td>@showtime.Room?.Name</td>
                <td>@showtime.ShowtimeDate</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@showtime.ShowtimeID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@showtime.ShowtimeID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@showtime.ShowtimeID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    <a asp-action="Create">Thêm danh mục mới</a>
</table>
