﻿@model WSCinemaNaw.Models.Order
<head>
    <link rel="stylesheet" href="~/css/order.css" />
</head>
<h2 class="title">Thông tin đặt vé</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <input type="hidden" id="movieId" name="movieId" value="@ViewBag.MovieId" />

    <div class="form-group" style="display: none;">
        @Html.LabelFor(model => model.OrderDate, new { @class = "form-label" })
        <p class="form-control">@DateTime.Now.ToString("dd/MM/yyyy")</p>
        @Html.HiddenFor(model => model.OrderDate)
    </div>
}

<div class="container">
    <div class="row">
        <!-- Thông tin thanh toán -->
        <div class="col-md-4">
            <div id="payment-info" style="display: none;">
                <h2>Thanh toán</h2>
                <p id="order-id"></p>
                <p id="order-date"></p>
                <p id="total-amount"></p>
                <select id="payment-method">
                    <option value="cash">Tiền mặt</option>
                    <option value="credit">Thẻ tín dụng</option>
                </select>
                <button id="payment-btn" class="btn btn-primary" style="display: none;">Thanh toán</button>
            </div>
        </div>
        <!-- Đặt vé -->
        <div class="col-md-8 bottom">
            <input type="hidden" id="movieId" name="movieId" value="@ViewBag.MovieId">
            <div class="row">
                <div class="col-md-4">
                    <h3 class="section-title">Date</h3>
                    <div id="date-buttons-container" class="button-container"></div>
                </div>
                <div class="col-md-4">
                    <h3 class="section-title">Time</h3>
                    <div id="time-buttons-container" class="button-container"></div>
                </div>
                <div class="col-md-4">
                    <h3 class="section-title">Ticket</h3>
                    <div id="seat-buttons-container" class="button-container"></div>
                </div>
            </div>
            <div class="button-group">
                <button id="confirm-btn" class="btn btn-primary">Xác nhận</button>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#confirm-btn').hide();

        var movieId = '@ViewBag.MovieId';

        $.get('/Movies/GetDatesByMovieId', { movieId: movieId }, function (data) {
            var dateButtons = '';
            for (var i = 0; i < data.length; i++) {
                var date = new Date(data[i]);
                var formattedDate = date.toLocaleDateString('en-CA');
                dateButtons += '<button class="date-btn" value="' + formattedDate + '">' + formattedDate + '</button>';
            }
            $('#date-buttons-container').html(dateButtons);
        });

        $(document).on('click', '.date-btn', function () {
            $('.date-btn').removeClass('selected');
            $(this).addClass('selected');

            var date = $(this).val();
            var movieId = '@ViewBag.MovieId';

            $.post('/Movies/GetTimesByDate', { date: date, movieId: movieId }, function (data) {
                var timeButtons = '';
                for (var i = 0; i < data.length; i++) {
                    var time = new Date('1970-01-01T' + data[i] + 'Z');
                    var hours = time.getUTCHours().toString().padStart(2, '0');
                    var minutes = time.getUTCMinutes().toString().padStart(2, '0');
                    var formattedTime = hours + ':' + minutes;
                    timeButtons += '<button class="time-btn" value="' + formattedTime + '">' + formattedTime + '</button>';
                }
                $('#time-buttons-container').html(timeButtons);
            }).fail(function () {
                alert('Có lỗi xảy ra khi tải thời gian chiếu.');
            });
        });


        $(document).on('click', '.time-btn', function () {
            var time = $(this).val();
            var date = $('.date-btn.selected').val();
            var movieId = $('#movieId').val();

            $.post('/Movies/GetSeatTime', { date: date, time: time, movieId: movieId }, function (data) {
                var seatButtons = '';
                for (var i = 0; i < data.length; i++) {
                    var seat = data[i];

                    if (!seat.isBooked) {
                        var buttonClass = seat.isBooked ? 'booked-seat' : (seat.isAvailable ? 'available-seat' : 'unavailable-seat');

                        var seatLabel = '  ' + seat.rowNumber + '  ' + seat.seatNumber;
                        seatButtons += '<button class="seat-btn ' + buttonClass + '" value="' + seat.seatBookingID + '">' + seatLabel + '</button>';
                    }
                }
                $('#seat-buttons-container').html(seatButtons);
                console.log(seatButtons);
            });
        });

        var selectedSeats = [];

        $(document).on('click', '.seat-btn', function () {
            var seatBookingID = $(this).val();

            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
                var index = selectedSeats.indexOf(seatBookingID);
                if (index > -1) {
                    selectedSeats.splice(index, 1);
                }
            } else {
                $(this).addClass('selected');
                selectedSeats.push(seatBookingID);
            }
            if (selectedSeats.length > 0) {

                $('#confirm-btn').show();
            } else {

                $('#confirm-btn').hide();
            }
            console.log(selectedSeats);
        });

        $(document).on('click', '#confirm-btn', function () {
            var movieId = '@ViewBag.MovieId';
            var date = $('.date-btn.selected').val();
            var time = $('.time-btn.selected').val();

            $.post('/Order/ConfirmSeats', { date: date, time: time, movieId: movieId, seatBookingID: selectedSeats }, function (data) {
                if (data.success) {
                    alert('Đã xác nhận ghế thành công!');
                    var orderId = data.orderId;
                    $('#payment-btn').data('order-id', orderId);
                    $('#confirm-btn').hide();
                    $('#payment-btn').show();
                    $('#payment-info').show();
                    $('#order-id').text('Order ID: ' + orderId);
                    $('#order-date').text('Ngày đặt: ' + new Date().toLocaleDateString());
                    $('#total-amount').text('Tổng tiền: ' + data.totalAmount);
                } else {
                    alert('Có lỗi xảy ra khi xác nhận ghế.');
                }
            });
        });

        $(document).on('click', '#payment-btn', function () {
            var orderId = $(this).data('order-id');
            var paymentMethod = $('#payment-method').val(); 
            $.post('/Order/MakePayment', { orderId: orderId, paymentMethod: paymentMethod }, function (data) {
                if (data.success) {
                    alert('Thanh toán thành công!');
                    window.location.href = '/Movies/Index'; 
                } else {
                    alert('Có lỗi xảy ra khi thanh toán.');
                }
            });
        });
    });
</script>

