﻿@model WSCinemaNaw.Models.Order

<h2>Delete Order</h2>

<p>Are you sure you want to delete this order?</p>

<p>Order ID: @Model.OrderID</p>
<p>Order Date: @Model.OrderDate</p>
<p>Total Amount: @Model.TotalAmount</p>

@using (Html.BeginForm("DeleteConfirmed", "Order", new { id = Model.OrderID }))
{
    @Html.AntiForgeryToken()

    <input type="submit" value="Delete" class="btn btn-danger" />
}

<a href="@Url.Action("Index")">Back to List</a>
