﻿@model WSCinemaNaw.Models.Order

<h2>Edit Order</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.OrderID)

    <div class="form-group">
        @Html.LabelFor(model => model.OrderDate)
        @Html.EditorFor(model => model.OrderDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TotalAmount)
        @Html.EditorFor(model => model.TotalAmount)
    </div>

    <input type="submit" value="Save" class="btn btn-default" />
}

<a href="@Url.Action("Index")">Back to List</a>
