﻿@model IEnumerable<WSCinemaNaw.Models.Order>

<h2>Orders</h2>

<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Order Date</th>
            <th>Total Amount</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderID</td>
                <td>@order.OrderDate</td>
                <td>@order.TotalAmount</td>
                <td>
                    <a href="@Url.Action("Details", new { id = order.OrderID })">Details</a> |
                    <a href="@Url.Action("Edit", new { id = order.OrderID })">Edit</a> |
                    <a href="@Url.Action("Delete", new { id = order.OrderID })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
