﻿@model WSCinemaNaw.Models.Ticket

<h2>Create</h2>

<h4>Ticket</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @foreach (var seatBooking in ViewBag.SeatBookings)
            {
                <input type="checkbox" name="SeatBookingIDs" value="@seatBooking.Value" /> @seatBooking.Text
            }


            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
