﻿@model WSCinemaNaw.Models.Ticket

<h2>Edit</h2>

<h4>Ticket</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TicketID" />
            <div class="form-group">
                <label asp-for="SeatBookingID" class="control-label"></label>
                <select asp-for="SeatBookingID" asp-items="ViewBag.SeatBookings" class="form-control"></select>
                <span asp-validation-for="SeatBookingID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
