﻿@model IEnumerable<WSCinemaNaw.Models.Ticket>

<h2>Tickets</h2>

<a asp-action="Create">Thêm danh mục mới</a>
<table class="table">
    <thead>
        <tr>
            <th>Ticket ID</th>
            <th>SeatBooking ID</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TicketID</td>
                <td>@item.SeatBookingID</td>
                <td>@item.Price</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TicketID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.TicketID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
