﻿@model WSCinemaNaw.Models.LoginRegisterViewModel
<head>
    <link href="~/css/loginregister.css" rel="stylesheet" />
</head>

<div class="body">
    <div class="veen">
        <div class="login-btn splits">
            <p>Bạn đã có tài khoản?</p>
            <button class="active" id="login">Login</button>
        </div>
        <div class="rgstr-btn splits">
            <p>Bạn chưa có tài khoản?</p>
            <button id="register">Register</button>
        </div>
        <div class="wrapper">
            <!-- Login Form -->
            <form method="post" action="/Account/Login" id="login-form" tabindex="500">
                <h3>Login</h3>
                <div class="mail">
                    <input type="email" name="Email">
                    <label>Tài khoản</label>
                </div>
                <div class="passwd">
                    <input type="password" name="Password">
                    <label>Mật khẩu</label>
                </div>
                <div class="submit">
                    <button class="dark">Login</button>
                </div>
            </form>
            <!-- Register Form -->
            <form id="register-form" tabindex="502" method="post" action="/Account/Register">
                <h3>Register</h3>
                <div class="name">
                    <input type="text" name="FirstName" required>
                    <label>Họ</label>
                </div>
                <div class="name">
                    <input type="text" name="LastName" required>
                    <label>Tên</label>
                </div>
                <div class="mail">
                    <input type="email" name="Email" required>
                    <label for="">Tài khoản</label>
                </div>
                <div class="uid">
                    <input type="password" name="Password" required>
                    <label for="">Mật khẩu</label>
                </div>
                <div class="passwd">
                    <input type="password" name="ConfirmPassword" required>
                    <label for="">Xác nhận mật khẩu</label>
                </div>
                <div class="submit">
                    <button type="submit" class="dark">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>



<style type="text/css">
    .site-link {
        padding: 5px 15px;
        position: fixed;
        z-index: 99999;
        background: #fff;
        box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
        right: 30px;
        bottom: 30px;
        border-radius: 10px;
    }

        .site-link img {
            width: 30px;
            height: 30px;
        }
</style>

<script src="~/js/loginregister.js"></script>