﻿@model WSCinemaNaw.Models.Movie

<h2>Create</h2>
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ReleaseDate" class="control-label"></label>
        <input asp-for="ReleaseDate" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CountryID" class="control-label"></label>
        <select asp-for="CountryID" class="form-control" asp-items="ViewBag.Countries"></select>
    </div>
    <div class="form-group">
        <label asp-for="DirectorID" class="control-label"></label>
        <select asp-for="DirectorID" class="form-control" asp-items="ViewBag.Directors"></select>
    </div>
    <div class="form-group">
        <label asp-for="GenreID" class="control-label"></label>
        <select asp-for="GenreID" class="form-control" asp-items="ViewBag.Genres"></select>
    </div>
    <div class="form-group">
        <label asp-for="PosterImage" class="control-label"></label>
        <input type="file" asp-for="PosterImage" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TrailerVideo" class="control-label"></label>
        <input type="file" asp-for="TrailerVideo" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>
