﻿@model WSCinemaNaw.Models.Movie

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<form method="post" action="@Url.Action("DeleteConfirmed", "Movies", new { id = Model.MovieID })">
    <input type="hidden" name="MovieID" value="@Model.MovieID" />
    <dl class="row">
        <dt class="col-sm-2">Title</dt>
        <dd class="col-sm-10">@Model.Title</dd>

        <dt class="col-sm-2">Release Date</dt>
        <dd class="col-sm-10">@Model.ReleaseDate.ToShortDateString()</dd>

        <dt class="col-sm-2">Country</dt>
        <dd class="col-sm-10">@Model.Country.Name</dd>

        <dt class="col-sm-2">Director</dt>
        <dd class="col-sm-10">@Model.Director.Name</dd>

        <dt class="col-sm-2">Genre</dt>
        <dd class="col-sm-10">@Model.Genre.Name</dd>
    </dl>
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" asp-route-id="@Model.MovieID" class="btn btn-primary">Back</a>
</form>