﻿@model WSCinemaNaw.Models.MovieDetailsViewModel
@inject WSCinemaNaw.Data.ApplicationDbContext _context

<head>
    <link href="~/css/detailmovie.css" rel="stylesheet" />
</head>

<div class="main" id="main">
    <div class="right">
        <div class="movie-poster">
            <div class="poster-content">
                <img src="@Model.Movie.PosterImage" alt="Movie Poster">
                <div class="trailer-button">
                    <button onclick="playTrailer();">Watch Trailer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="left">
        <div class="col-sm-5 movie-details" id="movie-details">
            <dl>
                <dt>Phim</dt>
                <dd>@Model.Movie.Title</dd>

                <dt>Ngày khởi chiếu</dt>
                <dd>@Model.Movie.ReleaseDate.ToShortDateString()</dd>

                <dt>Quốc Gia</dt>
                <dd>@Model.Movie.Country.Name</dd>

                <dt>Đạo diên</dt>
                <dd>@Model.Movie.Director.Name</dd>
            </dl>
        </div>
    </div>
    <video id="trailer-video" src="@Model.Movie.TrailerVideo" style="display: none; width: 100%; height: auto;"></video>
    <button id="pause-button" onclick="pauseVideo();" style="display: none;">Pause</button>
    <button id="exit-button" onclick="exitVideo();" style="display: none;">Exit</button>
</div>


<div class="booking-container">
    <div>
        <input type="hidden" id="movieId" name="movieId" value="@Model.Movie.MovieID">
    </div>
    <div class="booking-section">
        <h3 class="section-title">Date</h3>
        <div id="date-buttons-container" class="button-container"></div>
    </div>
    <div class="booking-section">
        <h3 class="section-title">Time</h3>
        <div id="time-buttons-container" class="button-container"></div>
    </div>
    <div class="booking-section">
        <div id="seat-buttons-container" class="button-container"></div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/details.js"></script>