﻿@model WSCinemaNaw.Models.Movie
@using Microsoft.AspNetCore.Mvc.Rendering

<h2>Edit Movie</h2>
<form asp-action="Edit" enctype="multipart/form-data">
    <input type="hidden" asp-for="MovieID" />
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReleaseDate"></label>
        <input asp-for="ReleaseDate" class="form-control" />
        <span asp-validation-for="ReleaseDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CountryID">Country</label>
        <select asp-for="CountryID" asp-items="@ViewBag.Countries"
                class="form-control"></select>
        <span asp-validation-for="CountryID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DirectorID">Director</label>
        <select asp-for="DirectorID" asp-items="@ViewBag.Directors"
                class="form-control"></select>
        <span asp-validation-for="DirectorID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="GenreID">Genre</label>
        <select asp-for="GenreID" asp-items="@ViewBag.Genres"
                class="form-control"></select>
        <span asp-validation-for="GenreID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Current Poster Image</label>
        <img src="@Model.PosterImage" alt="Poster Image" width="200" />
        <input type="hidden" asp-for="PosterImage" />
        <label>Change Poster Image</label>
        <input type="file" name="NewPosterImage" class="form-control" />
        <span asp-validation-for="PosterImage" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Current Trailer Video</label>
        <video width="320" height="240" controls>
            <source src="@Model.TrailerVideo" type="video/mp4">
        </video>
        <input type="hidden" asp-for="TrailerVideo" />
        <label>Change Trailer Video</label>
        <input type="file" name="NewTrailerVideo" class="form-control" />
        <span asp-validation-for="TrailerVideo" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>

    <a asp-action="Index" asp-route-id="@Model.MovieID" class="btn btn-primary">Back</a>
</form>
