﻿@model IEnumerable<WSCinemaNaw.Models.Movie>
<head>
    <link href="~/css/indexmovie.css" rel="stylesheet" />
</head>

<div class="main">

    <div class="swiper-container naw">
        <div class="swiper-wrapper">
            @foreach (var movie in Model)
            {
                <div class="swiper-slide">
                    <a asp-action="Details" asp-route-id="@movie.MovieID" style="text-decoration: none; color: inherit;">
                    <video autoplay muted loop style="width:100%; height:100%; object-fit:cover;">
                        <source src="@movie.TrailerVideo" type="video/mp4">
                    </video>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                    </a>
                </div>
            }
        </div>
    </div>
    <div>
        <div class="row">
            @foreach (var movie in Model)
            {
                <div class="col-md-3">
                    <a asp-action="Details" asp-route-id="@movie.MovieID" style="text-decoration: none; color: inherit;">
                        <div class="card">
                            <img class="card-img-top" src="@movie.PosterImage" alt="Movie Poster">
                            <div class="layer"></div>
                            <div class="info">
                                <h5 class="card-title">@movie.Title</h5>
                                <td>@movie.Director?.Name</td>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>

</div>


<script>
    window.onload = function () {
    var video = document.querySelector('.naw video');
    if (video) { // Kiểm tra xem video có tồn tại không
        video.currentTime = 0;
        video.play();
        setTimeout(function () {
            video.pause();
        }, 60000);
    } else {
        console.log('Video không tồn tại');
    }
    // Phần còn lại của mã..

    const swiper = new Swiper('.swiper-container.naw', {
        // Các tùy chọn tùy chỉnh
        direction: 'horizontal',
        loop: true,
        slidesPerView: 1,
        autoplay: {
            delay: 5000, // Đặt thời gian chờ là 5 giây
        },

        // Nếu cần phân trang
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },

        // Nếu cần nút điều hướng
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });

};
</script>