﻿@model WSCinemaNaw.Models.SeatBooking
@inject IHtmlHelper htmlHelper

<h2>Create Seat Booking</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="SeatID" class="control-label"></label>
        <select asp-for="SeatID" asp-items="ViewBag.Seats" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="ShowtimeID" class="control-label"></label>
        <select asp-for="ShowtimeID" asp-items="ViewBag.Showtimes" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="IsBooked" class="control-label"></label>
        <input asp-for="IsBooked" type="checkbox" />
    </div>
    <div class="form-group">
        <label asp-for="IsAvailable" class="control-label"></label>
        <input asp-for="IsAvailable" type="checkbox" />
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
