﻿@model WSCinemaNaw.Models.SeatBooking

<h2>Edit Seat Booking</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="SeatBookingID" />
    <div class="form-group">
        <label asp-for="SeatID" class="control-label"></label>
        <input asp-for="SeatID" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ShowtimeID" class="control-label"></label>
        <input asp-for="ShowtimeID" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="IsBooked" class="control-label"></label>
        <input asp-for="IsBooked" type="checkbox" />
    </div>
    <div class="form-group">
        <label asp-for="IsAvailable" class="control-label"></label>
        <input asp-for="IsAvailable" type="checkbox" />
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
