﻿@model IEnumerable<WSCinemaNaw.Models.SeatBooking>

<h2>Seat Bookings</h2>
<a asp-action="Create">Thêm danh mục mới</a>
<table class="table">
    <thead>
        <tr>
            <th>SeatBookingID</th>
            <th>SeatID</th>
            <th>ShowtimeID</th>
            <th>IsBooked</th>
            <th>IsAvailable</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SeatBookingID</td>
                <td>@item.SeatID</td>
                <td>@item.Showtime?.ShowtimeDate</td>
                <td>@item.IsBooked</td>
                <td>@item.IsAvailable</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SeatBookingID">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
