﻿@model WSCinemaNaw.Models.Genre

<h2>Delete Genres</h2>

<h3>Are you sure you want to delete this?</h3>
<form method="post" action="@Url.Action("DeleteConfirmed", "Genre", new { id = Model.GenreID })">
    <input type="hidden" name="Id" value="@Model.GenreID" />
    <div class="form-group">
        <label for="name">Tên danh mục:</label>
        <input type="text" id="name" name="Name" value="@Model.Name" class="form-control" readonly />
    </div>
    <button type="submit" class="btn btn-danger">Xóa</button>
    <a asp-action="Index" asp-route-id="@Model.GenreID" class="btn btn-primary">Back</a>
</form>
