﻿@model IEnumerable<WSCinemaNaw.Models.Genre>
<h2>Genre</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var genre in Model)
        {
            <tr>
                <td>@genre.GenreID</td>
                <td>@genre.Name</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@genre.GenreID">Delete</a> |
                    <a asp-action="Edit" asp-route-id="@genre.GenreID">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Create">Thêm danh mục mới</a>
