﻿@model WSCinemaNaw.Models.Room
@using WSCinemaNaw.Models
@using Microsoft.AspNetCore.Mvc.Rendering

@{
    ViewData["Title"] = "Create";
}

<h2>Create Room</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="TheaterID" class="control-label"></label>
        <select asp-for="TheaterID" class="form-control" asp-items="ViewBag.Theaters">
            <option value="">-- Select Theater --</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>
