﻿@model WSCinemaNaw.Models.Room

<h2>Delete Room</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">RoomID</dt>
        <dd class="col-sm-10">@Model.RoomID</dd>

        <dt class="col-sm-2">TheaterID</dt>
        <dd class="col-sm-10">@Model.TheaterID</dd>
    </dl>
</div>
<form asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="RoomID" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index">Back to List</a>
</form>
