﻿@model WSCinemaNaw.Models.Room

<h2>Room Details</h2>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">RoomID</dt>
        <dd class="col-sm-10">@Model.RoomID</dd>

        <dt class="col-sm-2">TheaterID</dt>
        <dd class="col-sm-10">@Model.TheaterID</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RoomID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
