﻿@model IEnumerable<WSCinemaNaw.Models.Room>

<h2>Rooms</h2>

<table class="table">
    <thead>
        <tr>
            <th>RoomID</th>
            <th>TheaterID</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.RoomID</td>
                <td>@item.Theater?.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RoomID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.RoomID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.RoomID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    <a asp-action="Create">Thêm danh mục mới</a>
</table>
