﻿@model WSCinemaNaw.Models.Seat

<h2>Create Seat</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="RoomID" class="control-label"></label>
        <select asp-for="RoomID" asp-items="ViewBag.Rooms" class="form-control" required></select>
        <span asp-validation-for="RoomID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RowNumber" class="control-label"></label>
        <input asp-for="RowNumber" class="form-control" required />
        <span asp-validation-for="RowNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SeatNumber" class="control-label"></label>
        <input asp-for="SeatNumber" class="form-control" required />
        <span asp-validation-for="SeatNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
