﻿@model WSCinemaNaw.Models.Seat

<h2>Delete Seat</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Seat</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">SeatID</dt>
        <dd class="col-sm-10">@Model.SeatID</dd>

        <dt class="col-sm-2">RoomID</dt>
        <dd class="col-sm-10">@Model.RoomID</dd>

        <dt class="col-sm-2">RowNumber</dt>
        <dd class="col-sm-10">@Model.RowNumber</dd>

        <dt class="col-sm-2">SeatNumber</dt>
        <dd class="col-sm-10">@Model.SeatNumber</dd>

    </dl>
</div>
<form asp-action="Delete">
    <input type="hidden" asp-for="SeatID" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index">Back to List</a>
</form>