﻿@model WSCinemaNaw.Models.Seat

<h2>Edit Seat</h2>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="SeatID" class="control-label"></label>
        <input asp-for="SeatID" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="RoomID" class="control-label"></label>
        <input asp-for="RoomID" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="RowNumber" class="control-label"></label>
        <input asp-for="RowNumber" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SeatNumber" class="control-label"></label>
        <input asp-for="SeatNumber" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>
