﻿@model IEnumerable<WSCinemaNaw.Models.Seat>

<h2>Seats</h2>

<table class="table">
    <thead>
        <tr>
            <th>SeatID</th>
            <th>Room</th>
            <th>RowNumber</th>
            <th>SeatNumber</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SeatID</td>
                <td>@item.Room?.Name</td>
                <td>@item.RowNumber</td>
                <td>@item.SeatNumber</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SeatID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.SeatID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    <a asp-action="Create">Thêm danh mục mới</a>
</table>
