﻿@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Movies" asp-action="Index">
                <i class="fas fa-home"></i> Home
            </a>
        </li>

        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Movies", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link border-0">
                    <i class="fas fa-sign-out-alt"></i> Đăng xuất
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Movies" asp-action="Index">
                <i class="fas fa-home"></i> Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="loginregister" asp-controller="Account" asp-action="LoginRegister">
                <i class="fas fa-user-plus"></i> Đăng ký
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="loginregister" asp-controller="Account" asp-action="LoginRegister" >
                <i class="fas fa-sign-in-alt"></i>  Đăng nhập
            </a>
        </li>
    }
</ul>

