﻿@model WSCinemaNaw.Models.Theater

<h2>Delete Theater</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Theater</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">TheaterID</dt>
        <dd class="col-sm-10">@Model.TheaterID</dd>

        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">Location</dt>
        <dd class="col-sm-10">@Model.Location</dd>
    </dl>
</div>
<form asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="TheaterID" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index">Back to List</a>
</form>
