﻿@model WSCinemaNaw.Models.Theater

<h2>Theater Details</h2>

<div>
    <h4>Theater</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">TheaterID</dt>
        <dd class="col-sm-10">@Model.TheaterID</dd>

        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">Location</dt>
        <dd class="col-sm-10">@Model.Location</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TheaterID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
