﻿@model IEnumerable<WSCinemaNaw.Models.Theater>

<h2>Theaters</h2>

<table class="table">
    <thead>
        <tr>
            <th>TheaterID</th>
            <th>Name</th>
            <th>Location</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TheaterID</td>
                <td>@item.Name</td>
                <td>@item.Location</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TheaterID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TheaterID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TheaterID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    <a asp-action="Create">Thêm danh mục mới</a>
</table>
