﻿.movie-poster {
    width: 250px;
    height: 375px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

    .movie-poster .poster-content {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

        .movie-poster .poster-content img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .movie-poster .poster-content .trailer-button {
            overflow: hidden;
            border-radius: 0 0 15px 15px;
            position: absolute;
            bottom: -50px;
            width: 100%;
            background: rgba(0,0,0,0.5);
            color: white;
            text-align: center;
            transition: 0.5s;
        }

        .movie-poster .poster-content:hover .trailer-button {
            bottom: 0;
        }

.movie-details {
    font-size: 20px;
    color: #000923;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

.trailer-button button {
    overflow: hidden;
    background-color: #5FC6E9;
    color: #FEFEFD;
    border: none;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px 2px;
    cursor: pointer;
}

#trailer-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.movie-poster, .movie-details {
    z-index: 2;
}

dl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.main {
    margin:30px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    box-shadow: 0 0 10px #f9f9f9, 6px 6px 10px #00000026;
    width: 80%;
    overflow: hidden;
}

.child {
    flex: 1 0 200px;
}

.right {
    margin: 10px;
    width: 250px;
    height: 375px;
}

.left {
    color: #000923;
    margin: 10px;
    width: 250px;
    height: 375px;
}

#trailer-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.movie-poster, .movie-details {
    z-index: 1;
}

.hidden {
    display: none;
}

#pause-button, #exit-button {
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    width: 100px;
    height: 50px;
    border: none;
    color: white;
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
    display: none;
    z-index: 2;
}

#pause-button {
    left: 20px;
}

#exit-button {
    right: 20px;
}

#trailer-video:playing ~ #pause-button,
#trailer-video:playing ~ #exit-button {
    display: block;
}

.booked-seat {
    display: none;
}


.booking-container {
    margin:30px;
    width:80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.booking-section {
    width: 100%;
    margin-bottom: 20px;
}

.section-title {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


h2{
    justify-content:center;
    align-content: center;
    align-items:center;
}