﻿
.swiper-container.naw {
    border-radius: 15px;
    margin-top: 20px;
    width: 100%;
    height: auto;
    overflow: hidden;
    box-shadow: 0px 0px 10px #f9f9f9, 5px 5px 5px #00000026;
}

.swiper-wrapper{
    width:100px;
    height: 450px;
}

/*the card */
.card-body {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    transform: translateY(100%);
}

.card-title {
    font-weight: 700;
}

.card {
    margin: 100px 0 20px 20px;
    border: none;
    border-radius: 10px;
    width: 250px;
    height: 375px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: -3px -3px 10px #f9f9f9, 6px 6px 10px #00000026;
    background-size: cover;
}

    .card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
        transition: 0.5s;
    }

    .card .layer {
        background: linear-gradient(to top, rgb(0,0,0,1), rgba(0,0,0,0));
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 0.3s;
    }

    .card .info {
        position: absolute;
        bottom: -30%;
        padding: 15px;
        opacity: 0;
        transition: 0.5s bottom, 1.75s opacity;
    }

    .card:hover,
    .card:hover img,
    .card:hover layer {
        transform: scale(1.1);
    }

        .card:hover > .info {
            bottom: 0;
            opacity: 1;
        }

        .card:hover > .layer {
            opacity: 1;
        }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: white;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


    .container:hover .card:not(:hover) {
        filter: blur(5px);
    }



.row {
    width: 100%;
    display: flex;
    justify-content:center;
}

