﻿.container {
    border-radius: 10px;
    width: 80%; /* Tăng kích thước container */
    margin: auto;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.section-title {
    font-size: 1.5em; /* Tăng kích thước chữ của tiêu đề */
    color: #333;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    
}

    .button-group .btn {
        margin:10px;
        padding: 12px 22px; 
        background-color: #007BFF; 
        color: #fff; 
        font-size:1.2rem;
        font-weight: bold;
    }

#payment-info {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

    #payment-info h2 {
        margin-top: 0;
    }

    #payment-info p {
        margin-bottom: 10px;
    }

    #payment-info select {
        width: 100%;
        padding: 5px;
    }
