html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-top: 50px;
    justify-content: center;
    align-content: center;
    color: #FEFEFD;
    width: 100%;
    margin-bottom: 60px;
    background: linear-gradient(to right,#000923,#5FC6E9,#c4defa,#5FC6E9,#000923);
}

.navbar {
    width: 87%;
    padding-left: 20px;
}

.navbar-nav .nav-link {
    color: #FEFEFD !important;
    font-weight: bold;
    font-size: 17px;
    padding: 10px;
}

.navbar-brand {
    color: #FEFEFD !important;
    font-size: 20px;
    margin-right: 30px;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0px 0px 5px #00000026, 0px 0px 15px #00000026;
}

header {
    color: #FEFEFD;
    padding: 8px;
}


/*silde bar */
.sidebar {
    width: 60px;
    border-radius: 20px;
    margin: 25px 10px;
    height: 95%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 20px;
    box-shadow: 1px 1px 20px white;
    transition: width 0.5s;
    white-space: nowrap;
}

    .sidebar:hover {
        width: 200px;
    }

    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidebar a:hover {
            color: #FEFEFD;
        }

td, th {
    color: #FEFEFD;
}








/*--------------------*/

/* Trong tệp CSS của bạn */
.date-btn {
    border-radius: 8px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #000923;
    color: #FEFEFD;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

    .date-btn:hover {
        background-color: #FEFEFD;
        color: #000923;
    }

.time-btn {
    border: none;
    border-radius: 8px;
    display: inline-block;
    margin: 5px;
    padding: 10px;
    color: #000923;
    background-color: #5FC6E9;
}

    .time-btn:hover {
        background-color: #FEFEFD;
        color: #000923;
    }

.seat-btn {
    border: none;
    border-radius: 8px;
    margin: 5px;
    padding: 10px;
    color: #5FC6C9;
}

    .seat-btn:hover {
        color: #000923;
    }

    .seat-btn.selected {
        color: #FEFEFD;
        background-color: #000923;
    }

.fas {
    font-size: 30px;
    padding-right:10px;
    padding-left:5px;
}
